<section class="items-show">

  <header class="page-header">
    <h1>My Cart</h1>
  </header>

  <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% products.each_with_index { |product, index| %>
        <%= render 'item', product:product, item:items[index] %>
        <%}%>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
            <%= order[:total_cents] / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>

</section>
